@(votos:List[(String, Long)])(implicit flash: Flash)

	@main("Welcome to CachureK"){
	
   		@if(flash!=null){
   			
   			@flash.get("success").map { message =>
		    	<p class="success_message">
		        	@message
		    	</p>
	    	}
	    
	    	@flash.get("error").map { message =>
		    	<p class="error_message">
		        	@message
		    	</p>
	    	}
	    
	    	@flash.get("warning").map { message =>
		    	<p class="warning_message">
		        	@message
		    	</p>
	    	}
	    
	    	@flash.get("info").map { message =>
		    	<p class="info_message">
		        	@message
		    	</p>
	    	}
   		}
   		
   
    <div id="chart_div" style="width: 900px; height: 500px;"/>
    
    
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Candidato', 'Votos', { role: 'style' }],
          @for((nombre,voto) <- votos){
                ['@nombre', @voto, '#b87333'],            // RGB value
            }
        ]);
            var options = {
                title: 'CachureK "Real" Stadistics',
                hAxis: {title: 'Candidates', titleTextStyle: {color: 'red'}}
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
}
    


