@(addUserForm: Form[UserData])

@import helper._
@import views.html.buttons._
@import views.html.panels._


@main("Welcome to Play") {

	@marginPanel(10,10,10,10){
		@helper.form(action = routes.Users.submitNewUser) {
    	<fieldset>
            <legend>Account information</legend>
            
            @inputText(
                addUserForm("basics.email"), '_label -> "Email",
                '_help -> "",
                '_error -> addUserForm.error("basics")
            )
            
            @inputPassword(
                addUserForm("password.main"), 
                '_label -> "Password",
                '_help -> ""
            )
            
            @inputPassword(
                addUserForm("password.confirm"), 
                '_label -> "Repeat password",
                '_help -> "Please repeat your password again.",
                '_error -> addUserForm.error("password")
            )
            
            @select(
                addUserForm("level"), 
                options = options(List("Mortal","Inmortal")),
                '_label -> "User Type",
                '_error -> addUserForm("level").error.map(_.withMessage("Please select an user Type"))
            )
            
            @select(
                addUserForm("status"), 
                options = options(List("Activa","Inactiva")),
                '_label -> "User Status",
                '_error -> addUserForm("status").error.map(_.withMessage("Please select an user status"))
            )
            
        </fieldset>
        <div class="actions">
        	@simpleSubmitButton("Add User")
            @simpleNormalButton("Cancel", "button alert" ,routes.Application.index)
        </div>
    }
		
		
	}
    
}
